<% if @film.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".contains" %> <%= pluralize @film.errors.count, t(".error") %>.
    </div>
    <ul>
    <% @film.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
