$black: #000;
$blue: #0b7dda;
$gray-bright:  #c7c7c7;
$gray-dark: #222;
$gray-e6: #E6E6E6;
$gray-less: #FDFCF0;
$gray-light: #636363;
$gray-medium-light: #716e75;
$gray-medium: #4b4f56;
$gray-silver: #717171;
$gray-white: #e9ebee;
$gray63: #636B6F;
$gray95: #f2f2f2;
$gray: #333;
$orange-light: #FFE793;
$orange: #F07421;
$red-light: #b20c0c;
$red: #e71a0f;
$vivid-blue: #2196F3;
$white: #fff;
$blude-bright: #ccffff;
