h3,p{
  font-family: serif;
}
#detail_film{
  margin-top: 3%;
}
.content-detail h3{
  font-weight: bold;
}
.img-detail img{
  width: 100%;
}
.info {
  background-color: $vivid-blue;
  color: white;
  font-size: 18px;
  width: 100px;
}
.info:hover {
	background: $blue;
	color: white;
}
.comment{
  border-bottom: 1px solid $white;
  line-height: 25px;
  margin-bottom: 24px;
  margin-top: 5%;
  padding: 8px 0;
}
.clearfix{
  zoom:1;
}
.lfload{
  float: left;
}
.countC{
  font-weight: bold;
}
.rfload{
  float: right;
}
.pub{
	color: $gray-medium;
}
.modal-body{
  height: 500px;
}
.btnok{
  margin-left: 43%;
  margin-top: 10%;
}
