@import 'color';

h3,p{
  font-family: serif;
}
#detail_film{
  margin-top: 3%;
}
.content-detail h3{
  font-weight: bold;
}
.img-detail img{
  width: 100%;
}
.info {
  background-color: $vivid-blue;
  color: white;
  font-size: 18px;
  width: 100px;
}
.info:hover {
	background: $blue;
	color: white;
}
.comment{
  padding: 8px 0;
  margin-left: 1%;
  border-bottom: 1px solid $gray-light;
}
#reviewUser{
  padding-left: 2%;
  img{
    width:100%;
  }
}
#form-review{
  padding: 2% 0 0 3%;
}
.clearfix{
  zoom:1;
}
.countC{
  font-weight: bold;
}
.pub{
	color: $gray-medium;
}
.modal-body{
  height: auto;
}
.btnok{
  margin-left: 43%;
  margin-top: 10%;
}
.btntime{
  width: 20%;
}
