<div id="footer">
  <div class="part1">
    <div class="container">
      <div class="row">
        <div class="title">
          <%= link_to image_tag("bg_h3_line.jpg", alt: "bg_h3_line.jpg") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 box">
          <div class="box">
            <h4><span>GENERAL INTRODUCTION</span></h4>
            <P>Welcome to HHLcinema is a unit specializing in the field of development in film production, film screening. </P>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <h4><span>PURPOSE</span></h4>
            <p>The goal is to create a place to have fun, eat, watch movies for all classes of customers, bring people a relaxing space, a quality service to HHLcinema.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <h4><span>DETAILS</span></h4>
            <address>
              <strong>Add:</strong> HHLcinema - tầng 1 - khu đô thị mới -Số 203-Mộ Lao- Hà đông -Hà Nội <br>
              <strong>Phone: </strong> 01693057613 <br>
              <strong>Email:</strong> HHLcinema2017@gmail.com <br>
              <h3><a href="http://HHLcinema.com">HHLcinema.com.vn</a></h3>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="part2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pullleft">
          <p>2017 @HHLcinema . Made by <a href="#">Team 2Girls</a></p>
        </div>
        <div class="col-md-6 pullright">
          <a href="index.html"><p>BACK TO TOP
            <span class="glyphicon glyphicon-star"></span> </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
